body {
  font-family: 'Open Sans';
  margin: 0px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* header */

.nav-item {
font-weight: normal;
font-size: 14px;
line-height: 19px;
color: #1E0606;
}

.contact-link {
font-weight: bold;
font-size: 14px;
line-height: 19px;
display: flex;
color: #1E0606;
}

.button-black {
font-weight: bold;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
background: #000000;
}

.service-title {
font-family: Montserrat;
font-weight: bold;
font-size: 38px;
line-height: 46px;
}

.service-item {
font-family: Montserrat;
font-weight: bold;
font-size: 26px;
line-height: 32px;
color: #FFFFFF;
}

.text-paragraph {
font-family: Open Sans;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #1E0606;
}

.delivery-title {
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 46px;
}

.delivery-button {
font-family:Crimson Text; 
font-style: italic;
font-weight: normal;
font-size: 26px;
line-height: 32px;
}

.about-tetle {
font-family: Montserrat;
font-weight: bold;
font-size: 38px;
line-height: 46px;
color: #1E0606;
}

.contacts-title {
font-family: Montserrat;
font-weight: bold;
font-size: 38px;
line-height: 46px;
}

.title-navigation {
font-family: Open Sans;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #AAAAAA;
}

.navigation-item {
font-family: Open Sans;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
}

.slider-text {
font-family: Crimson Text;
font-style: italic;
font-size: 20px;
line-height: 25px;
color: #1E0606;
}

.title-information {
font-family: Open Sans;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #AAAAAA;
}

.information-item {
font-family: Open Sans;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
}

.title-Connect {
font-family: Open Sans;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #AAAAAA;
}

.company-rating {
font-family: Open Sans;
font-weight: normal;
font-size: 16px;
line-height: 22px;
/*color: #FFFFFF;*/
}

.footer-text {
font-family: Open Sans;
font-weight: normal;
font-size: 16px;
line-height: 22px;
/*color: #FFFFFF;*/
}

.footer-designed {
font-family: Open Sans;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #AAAAAA;
}

.label-input {
font-family: Roboto;
font-weight: normal;
font-size: 14px;
line-height: 16px;
color: #1E0606;
}

.submit {
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
color: #E1E1E1;
}

.submit-button {
width: 106px;
height: 40px;
left: 400px;
top: 573px;
background: #C1C1C1;
}

.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

li {
  list-style-type: none;
}


/*.contact-link {
list-style-type: none;
} 